* {
     box-sizing: border-box;
     font-family: 'Press Start 2P', cursive;
}

.tela-de-jogo {
     position: relative;
     display: inline-block;
}

.interface-cima {
     position: absolute;
     display: flex;
     width: 100%;
     align-items: center;
     padding: 20px;
}

.interface-vida {
     position: relative;
     width: 100%;
     border-top: 4px solid #CA8A04;
     border-bottom: 4px solid #CA8A04;
}

.jogador1 {
     display: flex;
     justify-content: flex-end;
     border-left: 4px solid #CA8A04;
     border-bottom-left-radius: 12px;
     border-top-left-radius: 12px;
}

.jogador2 {
     border-right: 4px solid #CA8A04;
     border-bottom-right-radius: 12px;
     border-top-right-radius: 12px;
}

.barra-de-vida-fundo {
     background-color: red;
     height: 30px;
}

#vida-fundo-jogador1 {
     width: 100%;
     border-bottom-left-radius: 7px;
     border-top-left-radius: 7px;
}

#vida-fundo-jogador2 {
     border-bottom-right-radius: 7px;
     border-top-right-radius: 7px;
}

.barra-de-vida-frente {
     position: absolute;
     background-color: #34D399;
     top: 0;
     right: 0;
     bottom: 0;
}

#vidaJogador1 {
     width: 100%;
     border-bottom-left-radius: 5px;
     border-top-left-radius: 5px;
}

#vidaJogador2 {
     left: 0;
     border-bottom-right-radius: 5px;
     border-top-right-radius: 5px;
}

#tempo {
     background-color:#3730A3;
     height: 60px;
     width: 100px;
     flex-shrink: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     color: whitesmoke;
     border: 5px solid whitesmoke;
}

#texto-resultado {
     position: absolute;
     color: white;
     align-items: center;
     justify-content: center;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     display: none;
}